<div class="home_window">
    <div class="tools">
        <div class="button" id="topic-create-button">
            Create Topic
        </div>
    </div>
    <div class="topic-container">
        <div id="col1"></div>
        <div id="col2"></div>
        <div id="col3"></div>
    </div>
    <template id="topic-template">
        <div class="topic-card">
            <div class="topic-header">
                <h3 class="topic-title">Topic Title</h3>
                <p class="topic-author">Author Name</p>
            </div>
            <div class="topic-footer">
                <div class="button view-button">VIEW</div>
                <div class="button claim-button">CLAIM</div>
            </div>
        </div>
    </template>
</div>
